.App {
  text-align: center;
  background: var(--bg);
  color: var(--fontColor);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

.nav-list {
  list-style-type: none;
}
.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 60px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.light-theme {
  --bg: #fff;
  --fontColor: #282c34;
  --btnBg: #282c34;
  --btnFontColor: #fff;
}

.dark-theme {
  --bg: #282c34;
  --fontColor: #61dafb;
  --btnBg: #fff;
  --btnFontColor: #282c34;
}
